.wrap {
  position: relative;
  display: block;
}

.input {
  padding-right: 40px;
  width: 100%;
}

.clear {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 14px;
  color: var(--fg-dimmer);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: background 0.3s ease, color 0.3s ease, opacity 0.3s ease;
}

.clear.clearVisible {
  opacity: 1;
  pointer-events: auto;
}

.clear:active {
  background: var(--bg);
  color: var(--fg);
}
